<?xml version="1.0" encoding="UTF-8"?>
<context_info xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <course_id>1378769</course_id>
  <course_name>GC 2025 FALL-AVC240 19435</course_name>
  <root_account_id>50000000085852</root_account_id>
  <root_account_name>Maricopa Community College District</root_account_name>
  <root_account_uuid>dA6P7n9KxG6piFzFBU9B6tIDyGGaFu2xidZ90AAj</root_account_uuid>
  <canvas_domain>learn.maricopa.edu</canvas_domain>
</context_info>
